.collection{
    background-color:  #FAFAFA;
}
.collection_inner_top {
    display: flex;
    justify-content: center;   
}
.colliction_left_down{
    display: flex;
    justify-content: space-between;
}
.collection_left{
    padding-left: -20px;
}
.collection_right{
    margin-left: 15px;
}
.collection_right_up{
    display: flex;
    justify-content: space-between;
}
.collection_inner_down{
    display: flex;  
}
.collection_inner_down_left{
    margin-left: -15px;
    display: flex;
}
.collection_inner_down_right{
    margin-left: 30px;
    display: flex;
}
.collection_inner_down_img2{
    margin-left: 15px;
}
.collection_inner_down_img3{
    margin-left: -15px;
}
.collection_inner_down_img4{
    margin-left: 15px;
}
.collection p{
    padding-top: 40px;
    transform: translate(0,-10px);
}
@media (max-width: 425px){
    .container{
        max-width:700px;
        margin: 0 auto;
        padding: 19px 20px;
    }
    .collection_inner_top{
        display: block;
    }
    .colliction_left_down{
        display: block;
    }
    .collection_inner{
        margin-left: -20px;
    }
    .adaptivka_img1{
        width: 375px;
        height: 470px;
    }
    .adaptivka_img2{
        width: 375px;
        height: 470px;
    }
    .adaptivka_img3{
        width: 375px;
        height: 470px;
    }
    .adaptivka_img4{
        width: 375px;
        height: 470px;
    }
    .adaptivka_img5{
        width: 375px;
        height: 470px;
    }
    .adaptivka_img6{
        width: 375px;
        height: 470px;
        margin-left: -15px;
    }
    .colliction_right_down p{
     transform: translate(-10px,-5px);
    }
    .adaptivka_img7{
        width: 375px;
        height: 470px;
    }
    .adaptivka_img8{
        width: 375px;
        height: 470px;
    }
    .adaptivka_img08{
        width: 375px;
        height: 470px;
    }
    .adaptivka_img9{
        width: 375px;
        height: 470px;
    }
    .collection_right_up{
        display: block;
        margin-left: -15px;
    }
    .collection_inner_down{
        display: block;  
    }
    .collection_inner_down_left{
        display: block;
    }
    .collection_inner_down_right{
        display: block;
    }
    .collection_inner_down_img1{
        margin-left: 15px;
    }
    .collection_inner_down_img2{
        margin-left: 15px;
    }
    .collection_inner_down_img3{
        margin-left: -30px;
    }
    .collection_inner_down_img4{
        margin-left: -30px;
    }
    .colliction_right_down{
        margin-left: -15px;
    }
}
