.collection{
    background-color:  #FAFAFA;
}
.collection_inner_top {
    display: flex;
    justify-content: center;   
}
.colliction_left_down{
    display: flex;
    justify-content: space-between;
}
.collection_left{
    padding-left: -20px;
}
.collection_right{
    margin-left: 15px;
}
.collection_right_up{
    display: flex;
    justify-content: space-between;
}
.collection_inner_down{
    display: flex;  
}
.collection_inner_down_left{
    margin-left: -15px;
    display: flex;
}
.collection_inner_down_right{
    margin-left: 30px;
    display: flex;
}
.collection_inner_down_img2{
    margin-left: 15px;
}
.collection_inner_down_img3{
    margin-left: -15px;
}
.collection_inner_down_img4{
    margin-left: 15px;
}
.collection p{
    padding-top: 20px;
}   
