@font-face {
	font-family: 'FuturaBookC';
	src: url('../fonts/futurabookc.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/futurabookc.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/futurabookc.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/futurabookc.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/futurabookc.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/futurabookc.svg#futurabookc') format('svg'); /* Chrome < 4, Legacy iOS */
}
.deliver {
    background-color: #FAFAFA;
    padding-top: 45px;
    &__title {
        text-align: center;
        font-style: normal;
        font-size: 25px;
        line-height: 14px;
        font-weight: 400;
        color: #272727;
    	font-family: 'FuturaBookC';
        &-two {
            text-align: center;
            font-style: normal;
    	    font-family: 'FuturaBookC';
            font-weight: 400;
            font-size: 21px;
            line-height: 20px;
            color: #000000;
        }
    }
    &__ul {
        display: flex;
        justify-content: center;
        margin-top: 38px;
        border: 0.1px solid #D1B59A;
        &-li {
            color: #D1B59A;
            font-size: 13px;
            font-weight: 500;
            line-height: 18px;
        }
        &-il {
            border-left: 1px solid #D1B59A;
            padding: 9px 55px;
            &:nth-child(3) {
                border-right: 1px solid #D1B59A;
            }
            &:hover {
                background-color: #D1B59A;
                .deliver__ul-li {
                    color: #FAFAFA;
                    transition: 0.3s ease-in;
                }
                transition: 0.3s ease;
            }
        }
    }
    &__page {
        display: flex;
        padding: 49px 0;
        align-items: center;
        position: relative;
        &-two {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
            &_head {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 16px 20px 16px 37px;
                border-bottom:1px  solid #D1B59A;
                border-bottom-style:dashed ;
            }
            &_blocks {
                width: 550px;
                border: 1px solid #D1B59A;
                border-style: dashed;
                margin-top: 25px;
            }
            &_title {
                font-family: 'FuturaBookC';
                font-weight: 400;
                font-size: 21px;
                line-height: 20px;
            }
            &_p {
                padding: 26px 25px 26px 37px;
            }
        }
        &-img {
            width: 670px;
            height: 600px;
            margin-right: 50px;
        }
        &-text {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
        &-title {
	        font-family: 'FuturaBookC';
            font-size: 21px;
            line-height: 20px;
            font-weight: 400;
        }
        &-p {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 500;
            font-size: 15px;
            line-height: 24px;
            &:nth-child(5) {
                border-bottom: 1px solid #E3E4E4;
                padding-bottom: 25px;
            }
        }
        &-span_first {
            position: absolute;
            bottom: 18.4rem;
            right: 0;
        }
        &-span_second {
            position: absolute;
            bottom: 11.7rem;
            right: 0;
        }
    }
    &__questions {
        margin-top: 60px;
        &-block {
            border: 1px solid #D1B59A;
            border-style: dashed;
            padding: 37px 221px 45px;
        }
        &-icon {
            display: block;
            margin: 0 auto;
        }
        &-title {
	        font-family: 'FuturaBookC';
            text-align: center;
            font-weight: 400;
            font-size: 21px;
            line-height: 20px;
            margin-top: 25px;
        }
        &-form {
            margin-top: 35px;
            display: flex;
            flex-wrap: wrap;
        }
        &-object {
            position: relative;
            width: 33.3333%;
            margin-bottom: 20px;
            border: 1px solid #000000;
            &::after {
                content: '*';
                font-weight: 500;
                font-size: 18px;
                line-height: 25px;
                color: #9D9DAD;
                top: 33.6%;
                right: 15px;
                position: absolute;
            }
            &_inp {
                position: relative;
                width: 100%;
                padding: 17.5px;
                outline: none;
                border: none;
                appearance: none;
                background-color: transparent;
                text-transform: uppercase;
	            font-family: 'FuturaBookC';
                font-size: 13px;
                line-height: 25px;
                font-weight: 500;
                border-right: none;
                letter-spacing: 0.06em;
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                }
            }
            &_textarea {
	            font-family: 'FuturaBookC';
                padding: 17.5px;
                display: block;
                outline: none;
                background-color: transparent;
                resize: none;
                flex-grow: 1;
                height: 100px;
                font-weight: 500;
                font-size: 13px;
                text-transform: uppercase;
            }
        }
        &-btn {
            cursor: pointer;
            min-width: 180px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            outline: none;
            background: none;
            border: 1px solid #000000;
            border-left: none;
            font-family: 'FuturaBookC';
            font-weight: 600;
            line-height: 25px;
            font-size: 13px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            transition: all 0.3s ease-in;
            &:hover {
                background-color: #000000;
                color: #fff;
            }
        }
    }
}
