.Footer {
  background-color: #b1e0c1;
}

.Footer_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 170px;
  margin-top: 60px;
}

.Footer_start p {
  font-size: 15px;
  font-weight: 500;
}

.FooterAppContact p {
  width: 240px;
}

.Footer_icon {
  margin-top: -10px;
}

.FooterAppContact {
  margin-top: 40px;
}

.FooterEmail {
  margin-top: 70px;
}

.Footer_nav ul {
  display: flex;
  justify-content: center;
  gap: 17px;
}

.Footer_nav ul li {
  list-style: none;
  font-size: 14px;
  font-weight: 500;
}

.Footer_nav ul li a:hover {
  color: #D7B494;
  transition: 0.3s;
  cursor: pointer;
}

.Footer_Information {
  display: flex;
  margin-top: 54px;
  font-size: 15px;
  font-weight: 500;
  justify-content: space-between;
}

.FooterApps {
  margin-top: 42px;
}

.FOoter_icon_apps {
  padding-left: 25px;
}

.Footer_input {
  height: 34px;
  width: 302px;
  border: 1px solid #D7B494;
  padding: 5px 0px 5px 10px;
  color: black;
  margin-top: -40px;
}

.Footer_input2 {
  height: 34px;
  width: 302px;
  border: 1px solid #D7B494;
  padding: 5px 0px 5px 10px;
  color: black;
  margin-top: 10px;
}

.Footer_Agreement {
  display: flex;
  margin-top: 10px;
}

.Footer_Agreement p {
  font-size: 13px;
  font-weight: 500;
  margin-left: 10px;
}

.Footer_Agreement a {
  font-size: 13px;
  font-weight: 500;
  color: #D7B494;
  margin-left: 5px;
}

.Footer_End {
  margin-top: -20px;
}

.Footer_Subscribe_button {
  display: flex;
  height: 34px;
  width: 302px;
  background-color: white;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border: 1px solid #D7B494;
  margin-top: 10px;
}

.Footer_checkbox {
  border: 1px dotted #D7B494;
  background-color: #D7B494;
  border-radius: 50%;
}

@media(max-width:425px) {
  .Footer_inner {
    display: block;
  }

  .Footer_icon {
    margin-top: -50px;
  }

  .FooterAppContact:nth-child(2n) {
    margin-top: 10px;
  }

  .FooterAppContact p {
    margin-top: 20px
  }

  .FooterEmail {
    margin-top: 20px;
  }

  .Footer_nav ul {
    display: block;
    flex-wrap: wrap;
    font-family: 'Lato', sans-serif;
    margin-top: 20px;
    gap: 25px;
  }

  .Footer_nav ul li {
    font-size: 20px;
    font-weight: 500px;
    margin-top: 10px;
  }

  .Footer_nav ul:hover {
    color: #D7B494;
  }

  .Footer_nav ul li:nth-child(4) {
    margin-left: 215px;
    margin-top: -90px;
  }

  .Footer_nav ul li:nth-child(5) {
    margin-left: 215px;
  }

  .Footer_nav ul li:nth-child(6) {
    margin-left: 215px;
  }

  .Footer_Information {
    display: flex;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 500;
    justify-content: center;
  }

  .FooterAdress {
    display: block;
  }

  .Footer_input {
    width: 334px;
  }

  .Footer_input2 {
    width: 334px;
  }

  .Footer_Subscribe_button {
    width: 334px;
  }
}