.header {
    &__burger {
        position: relative;
        width: 27px;
        height: 19px;
        cursor: pointer;
        &-line {
            position: absolute;
            display: inline-block;
            width: 100%;
            height: 1.530px;
            background: #222222;
            border-radius: 100px;
            &:nth-child(1) {
                top: 0;
            }
            &:nth-child(2) {
                top: 7.06px;
            }
            &:nth-child(3) {
                top: 15px;
                width: 78%;
            }
        }
    }
    &__nav {
        display: flex;
        column-gap: 15px;
        justify-content: space-between;
        align-items: center;
        &-bottom {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 40px;
            margin-top: 30px;
            &_link {
                font-size: 14px;
            }
            &_link::after {
                content: '';
                display: block;
                width: 0;
                height: 3px;
                margin-left:50%;
                background-color: #222222;
                border-radius: 100px;
            }
            &_link:hover::after {
                transition: 0.3s ease-out;
                width: 100%;
                margin: 0;
            }
        }
        &-icon {
            display: flex;
            column-gap: 19px;
            &_burger {
                margin-right: 50px;
            }
        }
        &-logo {
            display: flex;
            column-gap: 4px;
            align-items: center;
            padding-left: 45px;
            &_title {
                font-size: 10px;
                color: #8D8D8D;
                font-weight: 500;
            }
        }
        &-num {
            display: flex;
            column-gap: 35px;
            &-icon {
                display: flex;
                column-gap: 18px;
                align-items: center;
                position: relative;
            }
        }
        &-count {
            font-size: 13px;
            font-weight: 700;
            position: absolute;
            top: -13px;
            padding-left: 24px;
        }
    }
}
@media (max-width:425px){
    .container{
        max-width: 310px;
        margin: 0 auto;
        padding: 19px 20px;
    }
    .num{
        display: none;
    }
    .adapt_icon{
        display: none;
    }
    .header__nav-logo{
        margin-left: -100px
    }
    .header__nav-logo_title{
        display: none;
    }
    .header__nav-bottom{
        display: none;
    }
}