.md25 {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, .82);
    overflow: auto;
    text-align: center;
    padding: 6px;
    width: 100%;
    &__main {
        display: inline-block;
        width: 1017px;
        background-color: transparent;
        text-align: center;
        vertical-align: middle;
    }
    &::after {
        content: "";
        display: inline-block;
        font-size: 0;
        height: 100%;
        vertical-align: middle;
        width: 0;
    }
    &__close {
        cursor: pointer;
        width: 120px;
        height: 25px;
        background-color: #000;
        margin-left: auto;
        display: flex;
        align-items: center;
        padding: 5px 11px;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        font-family: 'FuturaBookC';
        color: #fff;
        position: relative;
        transition: all .4s ease;
        &::after {
            content: '';
            position: absolute;
            width: 8px;
            height: 8px;
            background-size: 25px;
            background-image: url(../assets/modal/close-svgrepo.svg);
            background-repeat: no-repeat;
            background-position: center;
            top: calc(50% - 4px);
            right: 12px;
        }
        &:hover {
            opacity: 0.5;
        }
    }
    &__content {
        padding: 66px 120px 70px;
        background-color: #fff;
        text-align: left;
    }
    &__title {
        font-family: 'FuturaBookC';
        font-weight: 600;
        font-size: 30px;
        line-height: 33px;
        letter-spacing: 0.03em;
        color: #171717;
    }
    &__mid {
        font-family: 'FuturaBookC';
        margin: 30px 0 20px;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        letter-spacing: 0.03em;
        color: #000000;
    }
    &__fiting {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
        &-block {
            width: 50%;
            flex-grow: 1;
            padding: 0 15px;
            margin-bottom: 27px;
        }
        &-item {
            display: flex;
            align-items: flex-start;
        }
        &-icon {
            width: 56px;
            min-width: 56px;
            height: 46px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 12px;
        }
        &-text {
            font-family: 'FuturaBookC';
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.03em;
            color: #171717;
            padding-top: 14px;
        }
    }
    &__form {
        &-flex {
            display: flex;
            justify-content: space-between;
            &_error {
                position: relative;
                width: calc(33.3333% - 11px);
                margin-bottom: 23px;
                &::after {
                    content: "*";
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 25px;
                    color: #9D9DAD;
                    top: 53%;
                    right: 10px;
                    position: absolute;
                    transform: translateY(-50%);
                }
            }
            &_inp {
                display: block;
                width: 100%;
                outline: none;
                background-color: transparent;
                position: relative;
                z-index: 2;
                padding: 17.5px;
                border: 1px solid #000;
                font-weight: 500;
                font-size: 13px;
                line-height: 23px;
                letter-spacing: 0.06em;
                color: #000;
                text-transform: uppercase;
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                }
            }
            &_bug {
                &-ul{
                    list-style-type:disc;
                    padding-left: 14px;
                    margin: 14px 0;
                }
                & li {
                    display: none;
                }
            }
            &_bug .error li{
                display: block;
                color: red;
                font-size: 14px;
                list-style-type:disc;
                font-family: 'FuturaBookC';
                
            }
            
        }
        &-coment {
            display: flex;
            justify-content: space-between;
            &_textarea {
                display: block;
                outline: none;
                position: relative;
                z-index: 2;
                padding: 17.5px;
                border: 1px solid #000;
                font-weight: 500;
                font-size: 13px;
                line-height: 23px;
                letter-spacing: 0.06em;
                color: #000;
                text-transform: uppercase;
                resize: none;
                flex-grow: 1;
                height: 96px;
                width: 100%;
                resize: none;
            }
            &_check {
                min-width: 247.8px;
                margin-left: 16px;
                display: flex;
                align-items: center;
            }
            &_radio {
                padding-top: 0;
                width: 150px;
                min-width: 150px;
                max-width: 100%;
                display: flex;
                flex-wrap: wrap;
                &-lab {
                    position: relative;
                    margin-right: -1px;
                    width: 50px;
                    min-width: 50px;
                    height: 50px;
                    user-select: none;
                    margin-top:-1px ;
                }
                &-lab input {
                    display: none;
                }
                &-lab span {
                    font-family: 'FuturaBookC';
                    display: flex;
                    width: 100%;
                    height: 100%;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #000;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 18px;
                    text-align: center;
                    color: #000;
                    position: relative;
                    z-index: 1;
                    transition: all 0.4s;
                    overflow: hidden;
                    cursor: pointer;
                    &::before {
                        content: '';
                        position: absolute;
                        left: -100%;
                        top: 100%;
                        width: 400%;
                        height: 1px;
                        background-color: #DADADA;
                        -webkit-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        transform: rotate(45deg);
                        opacity: 0;
                    }
                }
                &-lab input:disabled + span {
                    border-color: #DADADA;
                    color: #DADADA;
                }
                &-lab input:disabled + span::before {
                    opacity: 1;
                }
                &-lab input:checked + span {
                    color: #fff;
                    z-index: 3;
                    background-color: #222;
                    border-color: #222;
                }
            }
            &_text {
                font-weight: 600;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.06em;
                color: #333333;
                margin-left: 15px;
                font-family: 'FuturaBookC';
                text-transform: uppercase;
            }
        }
        &-bottom {
            display: flex;
            margin-top: 25px;
            align-items: center;
            justify-content: space-between;
            &_policy {
                cursor: pointer;
                position: relative;
                display: flex;
                align-items: center;
                & input {
                    width: 30px;
                    height: 30px;
                    outline: none;
                    left: 0;
                    top: 0;
                    opacity: 0;
                    position: absolute;
                }
                & b {
                    display: block;
                    min-width: 30px;
                    height: 30px;
                    border: 1px solid #000000;
                    margin-right: 13px;
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        left: 1px;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background-image: url(https://eleanboutique.ru/catalog/view/theme/default/assets/img/check.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        opacity: 0;
                        transition: all 0.4s;
                    }
                }
                & span {
                    font-family: 'FuturaBookC';
                    display: block;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 17px;
                    letter-spacing: 0.06em;
                    color: #000000;
                    & a {
                        text-decoration: underline;
                    }
                }
            }
            &_policy input:checked + b::before {
                opacity: 1;
            }
            .btn-tank {
                background-color: #9D9DAD;
            }
            & button {
                font-family: 'FuturaBookC';
                margin-top: 26px;
                outline: none;
                display: flex;
                width: 247px;
                height: 50px;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border: none;
                background-color: #242424;
                border-radius: 3px;
                font-weight: 500;
                font-size: 15px;
                letter-spacing: 0.1em;
                color: #FFFFFF;
                transition: all 0.4s;
                border: 1px solid transparent;
                text-transform: uppercase;
            }
        }
    }
}