.Obrende{
  background-color:  #FAFAFA;
}
.Obrende_inner h1{
  justify-content: center;
  text-align: center;
  align-items: center;
}
.Obrende_LR{
  display: flex;
  justify-content: center;
}
.Obrende_left{
  transform: translate(-20px,0);
}
.Obrende_right{
  transform: translate(-350px,150px);
}
.Obrende_right p{
  font-weight: 400px;
  font-size: 15px;
}
.Obrende_rightp1{
  width: 450px;
  height: 110px;
}
.Obrende_rightp2{
  width: 450px;
  height: 90px;
}
.Obrende_rightp3{
  width: 450px;
  height: 150px;
}
.Obrende_MOre{
  display: flex;
  color: #C0C0C0; 
}
.Obrende_MOre p{
  color: #C0C0C0;
}
@media(max-width:425px){
  .Obrende_LR{
  display: block;
  }
  .Wslide1{
    width: 600px;
    height: 250px;
    margin-top: 350px ;
    transform: translate(-100px,-60px);
  }
  .Obrende_rightp1{
    width: 313px;
    height: 150px;
    transform: translate(380px,-720px);
  }
  .Obrende_rightp2{
    width: 313px;
    height: 150px;
    transform: translate(380px,-720px);
  }
  .Obrende_rightp3{
    margin-top: -300px;
    width: 313px;
    height: 150px;
    transform: translate(380px,-200px);
  }
  .Obrende_MOre{
    transform: translate(380px,-150px);
  }
}