.Star{
    background-color: #FAFAFA;
}
.Star_inner h1{
    text-align: center;
    justify-content: center;
    font-size: 21px;
    font-weight: 400;
}
.Star_row{
    display: flex;
    gap: 8px;
    margin-top: 30px;
}
@media(max-width:425px){
    .Star_row{
        display: flex;
        overflow-x:scroll;
        gap: 8px;
        margin-top: 30px;
    }
}