@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: #000;
}

html {
    scroll-behavior: smooth;
}

:root[data-theme="light"] {
    --background-color: #fafafa;
}

:root[data-theme="dark"] {
    --background-color: #2b3e51;
}

html {
    background: var(--background-color);
}

.container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 19px 20px;
}

::-webkit-scrollbar {
    width: 12px;
    height: 8px;
    background-color: #000000;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #92eef3;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #253861;
}

::-webkit-scrollbar-button:vertical:start:decrement {
    background: linear-gradient(120deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(240deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(0deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}

::-webkit-scrollbar-button:vertical:end:increment {
    background:
        linear-gradient(300deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(60deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(180deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
    background:
        linear-gradient(30deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(150deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(270deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:end:increment {
    background:
        linear-gradient(210deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(330deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(90deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}

@import './header.scss';
@import './deliver.scss';
@import './headerStatic.scss';
@import './footer.scss';
@import './begin.scss';
@import './collection.scss';
@import './obrende.scss';
@import './Slider.scss';
@import './shouroom.scss';
@import './Primerka.scss';
@import './Star.scss';
@import './Otziv.scss';
@import './Instagram.scss';
@import "../pages/showRoom/ShowRoom.scss";
@import '../pages/Contact/Contact.scss';
@import '../pages/Primerka/Primerka.scss';
@import './modal27.scss';
@import './modal29.scss';
@import './modal25.scss';
@import './modal26.scss';
@import './modal28.scss';
@import './basket.scss';
@import './basketItem.scss';
@import '../pages/Sign-In/Sign-in.scss';
@import '../pages/Sign-Up/Sign-Up.scss';
@import '../Components/index.module.scss';