@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

@font-face {
	font-family: 'FuturaBookC';
	src: url('../fonts/futurabookc.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/futurabookc.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/futurabookc.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/futurabookc.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/futurabookc.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/futurabookc.svg#futurabookc') format('svg'); /* Chrome < 4, Legacy iOS */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: #000;
}

.wrapper {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 19px 20px;
}

@import './header.scss';
@import './deliver.scss';
@import './headerStatic.scss';
@import './modal27.scss';
@import './modal29.scss';
@import './modal25.scss';