@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: #000;
}
html {
    scroll-behavior: smooth;
}
.container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 19px 20px;
}
@import './header.scss';
@import './deliver.scss';
@import './headerStatic.scss';
@import './footer.scss';
@import './begin.scss';
@import './collection.scss';
@import './obrende.scss';
@import './Slider.scss';
@import './shouroom.scss';
@import './Primerka.scss';
@import './Star.scss';
@import './Otziv.scss';
@import './Instagram.scss';
@import "../pages/showRoom/ShowRoom.scss";
@import '../pages/Contact/Contact.scss';
@import '../pages/Primerka/Primerka.scss';