@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: #000;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 19px 20px;
}

@import './header.scss';
@import './deliver.scss';