.wrapper-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    // background: linear-gradient(90deg , rgb(251, 251, 72) 60% , rgb(85, 85, 159) 40%);
    height: 100vh;
    background: -moz-linear-gradient(176deg, rgba(255, 255, 255, 1) 0%, rgba(65, 212, 231, 1) 39%, rgba(211, 211, 211, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background: -webkit-linear-gradient(176deg, rgba(255, 255, 255, 1) 0%, rgba(65, 212, 231, 1) 39%, rgba(211, 211, 211, 1) 100%);

    /* opera 11.10+ */
    background: -o-linear-gradient(176deg, rgba(255, 255, 255, 1) 0%, rgba(65, 212, 231, 1) 39%, rgba(211, 211, 211, 1) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D3D3D3', endColorstr='#FFFFFF', GradientType=1);

    /* ie 10+ */
    background: -ms-linear-gradient(176deg, rgba(255, 255, 255, 1) 0%, rgba(65, 212, 231, 1) 39%, rgba(211, 211, 211, 1) 100%);

    /* global 94%+ browsers support */
    background: linear-gradient(176deg, rgba(255, 255, 255, 1) 0%, rgba(65, 212, 231, 1) 39%, rgba(211, 211, 211, 1) 100%);


    .box {
        width: 600px;
        height: 380px;
        background-color: white;
        text-align: center;

        h1 {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 23px;
            color: #252525;
            margin-top: 50px;
            margin-bottom: 30px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;

            input {
                width: 400px;
                height: 50px;
                border: 0.5px solid #252525;

                &::placeholder {
                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 200;
                    font-size: 16px;
                    line-height: 19px;
                    color: rgba(37, 37, 37, 0.5);
                }
            }

            button {
                width: 400px;
                height: 50px;
                background: #E0BEA2;
                border: none;

                font-family: 'Raleway';
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                text-align: center;
                text-transform: uppercase;
                color: #FFFFFF;

            }
        }

        .links {

            a {
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                text-decoration-line: underline;
                color: #252525;
            }
        }
    }
}