.wrapper-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #E1C4A9;

    .box {
        width: 600px;
        height: 380px;
        background-color: white;
        text-align: center;

        h1 {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 23px;
            color: #252525;
            margin-top: 50px;
            margin-bottom: 30px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;

            input {
                width: 400px;
                height: 50px;
                border: 0.5px solid #252525;

                &::placeholder {
                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 200;
                    font-size: 16px;
                    line-height: 19px;
                    color: rgba(37, 37, 37, 0.5);
                }
            }

            button {
                width: 400px;
                height: 50px;
                background: #E0BEA2;
                border: none;

                font-family: 'Raleway';
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                text-align: center;
                text-transform: uppercase;
                color: #FFFFFF;

            }
        }

        .links {

            a {
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                text-decoration-line: underline;
                color: #252525;
            }
        }
    }
}