@font-face {
	font-family: 'FuturaBookC';
	src: url('../fonts/futurabookc.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/futurabookc.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/futurabookc.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/futurabookc.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/futurabookc.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/futurabookc.svg#futurabookc') format('svg'); /* Chrome < 4, Legacy iOS */
}