.favoriteItem {
    width: 100%;
    margin-top: 30px;
    align-items: center;
    display: flex;
    justify-content: space-between;

    @media(max-width:1042px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__first {
        display: flex;
        align-items: center;
        & a {
            & img {
                width: 100px;
            }
        }
        @media(max-width:987px) {
            width: 100%;
        }

        &-text {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;
            font-weight: 400;
            line-height: 20px;
            margin-left: 20px;
            width: 251px;
            height: 90px;
            padding: 5px 8px;

            & a {
                display: inline-block;
                margin-bottom: 12px;
                outline: none;
            }
        }
    }

    &__second {
        display: flex;

        @media(max-width:1300px) {
            margin-top: 20px;
        }

        &-textarea {
            display: block;
            max-width: 100%;
            width: 573px;
            height: 130px;
            resize: none;
            outline: none;
            padding: 14px 16px;
            font-size: 15px;
            font-weight: 500;
            font-family: "FuturaBookC";
            background-color: transparent;

            @media(max-width:1300px) {
                width: 300px;
            }

            @media(max-width:1056px) {
                width: 100%;
            }
        }

        &-links {
            display: flex;
            flex-direction: column;
            padding-left: 6px;

            &_btn {
                cursor: pointer;
                font-family: "FuturaBookC";
                width: 198px;
                color: #828282;
                border-radius: 3px;
                letter-spacing: 0.1em;
                font-weight: 600;
                font-size: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 50px;
                text-transform: uppercase;

                @media (max-width: 992px) {
                    width: 100%;
                    margin-top: 20px;
                    padding: 0 9px;
                    font-size: 12px;
                }

                outline: none;
                border: 1px solid #e3e3e3;
                background-color: #e1c4a9;
                color: #fff;
                transition: all 0.4s ease;

                &:hover {
                    background-color: #000000;
                }
            }

            &_btn2 {
                cursor: pointer;
                margin-top: 12px;
                outline: none;
                border: 1px solid #dadada;
                background-color: transparent;
                color: #c7c3c3;
                padding: 9px 0;
                padding-left: 5px;
                transition: all 0.4s ease;
                position: relative;

                @media (max-width: 992px) {
                    background-color: #000;
                }

                @media(max-width:992px) {
                    font-size: 12px;
                    padding-left: 0;
                    padding: 9px 5px;
                }

                &::after {
                    content: "";
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    background-size: 25px;
                    background-image: url("../../../assets/Favorite/close-svgrepo.svg");
                    background-repeat: no-repeat;
                    background-position: center;
                    top: calc(50% - 4px);
                    right: 12px;
                    filter: brightness(0) opacity(0.3);
                }

                &:hover {
                    background-color: #000;
                    color: #fff;
                }

                &:hover::after {
                    filter: brightness(6) opacity(1);
                    transition: all 0.4s ease;
                }
            }
        }
    }
}