.begin{
  height: 100vh;
  background: url('../assets/Slider/slide1.png') no-repeat center;
  background-size: cover;
}
.begin__title{
  font-size: 20px;
  font-weight: 400;
  color: #FFFFFF;
  text-align: end;
  justify-content: end;
  padding-top: 500px;
}
.begin__title1{
  font-size: 20px;
  font-weight: 400;
  color: #FFFFFF;
  text-align: end;
  justify-content: end;
  padding-right: 183px;
}
