.categorytitle{
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #272727;
}