.Obrende{
  background-color:  #E5E5E5;

}
.Obrende_inner h1{
  justify-content: center;
  text-align: center;
  align-items: center;
}
.Obrende_LR{
  display: flex;
}
.Obrende_left{
  display: flex;
}
.Wslide1{
width: 100%;
height: 100%;
}
