.Obrende{
  background-color:  #E5E5E5;
}
.Obrende_inner h1{
  justify-content: center;
  text-align: center;
  align-items: center;
}
.Obrende_LR{
  display: flex;
  justify-content: center;
}
.Obrende_left{
  margin-left: -350px;
}
.Obrende_p1{
  width: 539px;  
  margin-top: -30px;
}
.Obrende_p2{
  width: 539px;
  margin-top: 30px;
}
.Obrende_p3{
  width: 539px;
  margin-top: 30px;
}
.Obrende_MOre{
  display: flex;
  margin-top: 50px;
}
.Obrende_right {
  margin-left: -330px;
  margin-top: 200px;
}

