@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Cormorant', serif;
}
.container{
  width: 1380px;
  margin: 0 auto;
  padding: 0 20px;
}
@import "header";
@import "begin";
@import "collection";
@import "obrende";
@import "footer";

